# API Key configuration
# Configure your variables in the .env file.
GEMINI_API_KEY=MY_GEMINI_API_KEY
key=MY_GEMINI_API_KEY
FIREBASE_DATABASE_URL=https://my-firebase-project.firebaseio.com
FIREBASE_DATABASE_=https://my-firebase-project.firebaseio.com
